/** Globales **/
html{
    box-sizing: border-box;    
}

*, *:before, *:after {
    box-sizing: inherit;
}

.contenedor{
    background-color: #e9e7d2;
}

/** Barra de navegación **/

.navbar{
    background-color: #FFF159;
}

/** Menú desplegable **/

.menu{    
    background-color: #333;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    color: white;
    background-color:#3483FA;
}

/** Formulario **/

form{
    height: 30px;    
}

.navbar input::placeholder {
    color: rgba(177, 164, 164, 0.9); 
    font-size: 1vw;             
}

.bi-search{
    margin-right: -1rem;
    margin-bottom: 3rem;
}

/** Flechas next-prev **/

.flecha-n{
   margin-left: 85%;
   height: 30%;
}

.flecha-p{
    margin-right: 85%;
    height: 30%;   
 }

.flecha-p:hover{
    background-color: rgb(92, 90, 90);
    border-bottom-right-radius: 64px;
    border-top-right-radius: 64px;    
}

.flecha-n:hover{
    background-color: rgb(92, 90, 90);
    border-bottom-left-radius: 64px;
    border-top-left-radius: 64px;    
}

/** Estilos tarjetas **/

.card{      
    background-color: #FFFFFF;
    box-shadow:0px 5px 15px 0px rgb(202, 199, 199);
    transition: 0.4s;
}

.card-body{
    border-top: 1px solid rgb(232, 219, 219);
}

.card:hover{    
    transform: scale(1.1);
    box-shadow:0px 5px 15px 0px gray;
}

.card p:nth-child(2),
 small{
    color: #00a650;
}

.price{
    font-size: 1.3rem;
}

/** Media Querys **/

@media (max-width: 1140px) {
    .navbar input::placeholder {
        font-size: 2vw;
    }    
}

@media (max-width: 768px) {
    .navbar input::placeholder {
        font-size: 3vw;
    }    
}

@media (max-width: 480px) {
    .navbar input::placeholder {
        visibility: hidden;
    }   
    .carousel-indicators {
        visibility: hidden;
    }
}

